/ %div.chat-side
/   %div.side-header
/     %div.side-header__box
/       %div.side-header__box--name
/         %p Sample
/       %ul.side-header__box--icon
/         %li
/           %a.linkwhite{href:"https://www.google.co.jp/"}
/             %i.fa.fa-edit
/           = link_to new_group_path do
/             = fa_icon 'cog', class: 'icon linkwhite'
/         / %li.side-header__box--icon-cog
/         /   %a.linkwhite{href:"https://www.google.co.jp/"}
/         /     %i.fa.fa-cog
/   %div.side-down
/     %div.group
/       %p.group__group-name Sample
/       %p.group__group-message Sample

= render "devise/shared/side_bar"

%div.main-content
  %div.group-detail
    %dev.group-detail__list
      %h1.group-detail__list--name
        = @group.name
      %p.group-detail__list--member
        Menbers :
        - @group.group_users.each do |member|
          = member.user.name


    = link_to "Edit", edit_group_path(@group),class: "group-detail__edit Edit"
  %div.group-chats
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      .form-all
        .form-area
          = f.text_field :body, class: 'form-area__text', placeholder: 'type a message'
          = f.label :image, class: 'form-area__image' do
            = fa_icon 'picture-o', class: 'fa-image'
            = f.file_field :image,class: 'form-area__image--file'
        = f.submit 'Send', class: 'form-all__send'
